#pogrubienie_rakoczy {
    font-size: 31px;
    color: #88bfD1;
}

#pochylona_rakoczy {
    font-size: 36pt; 
    color: #ECBF6D;
}

#index_gorny_rakoczy {
    font-size: 1.1cm;
    color: #9C8D1D;
}

#index_dolny_rakoczy {
    font-size: 1.7cm;
    color: rgb(24%, 73%, 52%);
}

#mono_rakoczy {
    font-size: 41px;
    color: #1CC9E5;
}

#powiekszenie_rakoczy {
    color: #54F19F;
}

#pomniejszenie_rakoczy {
    color: rgb(43%, 73%, 19%);
}
